<h1>Add a Actor</h1>

<div>
<form action="http://localhost:3000/actors/create_actor">
  Name:
  <input name="actor_name" type="text">
  Bio:
  <input name="actor_bio" type="text">
  DoB:
  <input name="actor_dob" type="text">
  Image URL:
  <input name="actor_img" type="text">
  <button>Create Actor</button>
</form>
</div>
