<h1> <%= @actor.name %> </h1>

<div>
  <img src="<%= @actor.image_url %>" width="500">
  <p><%= @actor.dob %></p>
  <p><%= @actor.bio %></p>
  <p><a href="http://localhost:3000/actors">Back to Index</a></p>
</div>
