<h1>Add a Movie</h1>

<div>
<form action="http://localhost:3000/movies/create_movie">
  Title:
  <input name="movie_title" type="text">
  Image URL:
  <input name="movie_img" type="text">
  Description:
  <input name="movie_desc" type="text">
  Year:
  <input name="movie_year" type="number">
  Duration:
  <input name="movie_dur" type="number">
  <button>Create Movie</button>
</form>
</div>
