<h1>Add a Director</h1>

<div>
<form action="http://localhost:3000/directors/create_director">
  Name:
  <input name="director_name" type="text">
  Bio:
  <input name="director_bio" type="text">
  DoB:
  <input name="director_dob" type="text">
  Image URL:
  <input name="director_img" type="text">
  <button>Create Director</button>
</form>
</div>
