<h1> <%= @director.name %> </h1>

<div>
  <img src="<%= @director.image_url %>" width="500">
  <p><%= @director.dob %></p>
  <p><%= @director.bio %></p>
  <p><a href="http://localhost:3000/directors">Back to Index</a></p>
</div>
